@model Message
@{
    ViewData["Title"] = "MessageDetail";
    Layout = "~/Views/MainLayout/Index.cshtml";
}

<div class="col-md-9">
    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">Mail İçeriği</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body p-0">
            <div class="mailbox-read-info">
                <h5>@Model.Subject</h5>
                <br />
                <h6><b>
                    Gönderen:
                    </b>
                    @Model.Sender.Email
                    
                    <span class="mailbox-read-time float-right">@Model.SendDate</span>
                </h6>
            </div>
            <!-- /.mailbox-read-info -->
            <div class="mailbox-controls with-border text-left">
               
                <h6>
                    <b>
                    Alıcı:
                    </b>
                    @Model.Receiver.Email
                   
                </h6>
            </div>
            <!-- /.mailbox-controls -->
            <div class="mailbox-read-message">
              

                <p>
                  @Model.Body
                </p>

               
            </div>
            <!-- /.mailbox-read-message -->
        </div>
        <!-- /.card-body -->
        <div class="card-footer bg-white">
            <ul class="mailbox-attachments d-flex align-items-stretch clearfix">
            </ul>
        </div>
        <!-- /.card-footer -->
        <div class="card-footer">
            <div class="float-right">
                <a asp-action="Reply" asp-controller="Message" asp-route-id="@Model.MessageId" class="btn btn-secondary">
                    <i class="fas fa-reply"></i> Yanıtla
                </a>
                <a asp-action="Forward" asp-controller="Message" asp-route-id="@Model.MessageId" class="btn btn-secondary">
                    <i class="fas fa-share"></i> Yönlendir
                </a>
            </div>
            <form method="post" asp-action="DeleteMessage" asp-controller="Message" style="display:inline;">
                <input type="hidden" name="id" value="@Model.MessageId" />
                <button type="submit" class="btn btn-danger">
                    <i class="far fa-trash-alt"></i> Sil
                </button>
            </form>
        </div>
        <!-- /.card-footer -->
    </div>
    <!-- /.card -->
</div>